.input {
  width: 100%;
    height: 44px;
    padding: 0 14px;
  
    background: #ffffff08;
    color: #ffffffe6;
  
    border: 1px solid #4015c11f;
    border-radius: 10px;
  
    outline: none;
  }

  .message {
    padding: 5px;
    color:#fff;  
    background: #433f3f;
    border: 1px solid #a15a5a1f;
    border-radius: 5px;
  }

  .label {
    background: red;
  }
  