/* ../src/styles.module.css */
body {
  margin: 24px;
  font: 14px / 1.4 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
}

.row_7MSHeA {
  margin: 8px 0;
}

.todo_7MSHeA {
  display: flex;
  align-items:  center;
  gap: 8px;
}

.rm_7MSHeA {
  background: #eee;
  border: 0;
  padding: 2px 6px;
}

.button_7MSHeA {
  border-radius: 6px;
  padding: 8px;
}

.primary_7MSHeA {
  color: #fff;
  background: #4169e1;
}

.secondary_7MSHeA {
  color: #333;
  background: #eee;
}

.todo_7MSHeA {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items:  center;
  gap: 8px;
  padding: 6px;
}

.rm_7MSHeA {
  background: #eee;
  border: 0;
  padding: 2px 6px;
}
