.label,
.label span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  font-weight: 500;
  font-size: var(--form-label--font-size);
}


.default {}

.outilined {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  width: 100%;
}

.outilined span{
  font-size: 16px;
}

.outilined > div {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: 1fr;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #222222;
  padding: 4px;
}
