.size-16 {
    font-size: 16px;
  }
.size-24 {
    font-size: 24px;
  }
.size-32 {
    font-size: 32px;
  }
.size-40 {
    font-size: 40px;
  }
.size-48 {
    font-size: 48px;
  }
.size-56 {
    font-size: 56px;
  }
.size-64 {
    font-size: 64px;
  }
.size-72 {
    font-size: 72px;
  }
  