body{
    background: #000;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

h1 { 
    font-size: var(--font-size-xxl);
    font-weight: var( --font-weight-semibold);
 }
h2 { 
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
 }
h3 { 
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
 }
h4 { 
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
 }
p { 
    font-size: var(--font-size-xs);
    font-weight: var(---font-weight-medium);
 }

