:root {
    /* Família da Fonte */
    --font-family: 'Plus Jakarta Sans', sans-serif;
  
    /* Pesos (Weights) - Baseados nos componentes de Pricing e Testimonials */
    --font-weight-regular: 400;  /* Texto de apoio e descrições */
    --font-weight-medium: 500;   /* Texto do switch Monthly/Annually */
    --font-weight-semibold: 600; /* Botões e labels secundários */
    --font-weight-bold: 700;     /* Títulos de Cards (Starter, Professional) */
    --font-weight-extrabold: 800; /* Preços ($37) e Títulos principais (Hero) */
  
    /* Tamanhos (Font Sizes) */
    --font-size-xs: 0.875rem;   /* Tamanho padrao de texto" */
    --font-size-sm: 1.4375rem;  /* H4 */
    --font-size-lg: 2.1875rem;  /* H3 */
    --font-size-xl: 3.125rem;    /* H2*/
    --font-size-xxl: 4.375rem;  /* H1 */

    --text-color: rgb(204,204,204);

  
    --form-label--font-size:var(--font-size-xs);
    --form-placeholder-font-size:0.875rem;
    --form-placeholder--color:rgb(204, 204, 204);
  }