
.body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.row {
  margin: 8px 0;
}

.todo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rm {
  border: 0;
  background: #eee;
  padding: 2px 6px;
}



.button {
  padding: 8px;
  border-radius: 6px;
}

.primary {
  background: royalblue;
  color: white;
}

.secondary {
  background: #eee;
  color: #333;
}

.todo {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 6px;
}

.rm {
  border: 0;
  background: #eee;
  padding: 2px 6px;
}
