.nav,
.nav ul,
.nav li {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	align-items: flex-start;
	width: 100%;
	justify-content: flex-start;
}

.nav ul {
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.nav li + li {
	margin-top: 0;
}

.nav a {
	display: block;
}
